dist-ios/
node_modules/
ios/App/App/public/
ios/App/build/
DerivedData/
data/qa/
.env
.env.*
!/.env.example
config/keys.json
config/bans.json
config/logs.json
config/downloads.json
*.ipa
*.mobileprovision
*.p12
*.cer
*.key
.DS_Store
